.--invisible {
  visibility: hidden;
  opacity: 0;
}

/*menu navigation*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "New Tegomin", serif;
  font-size: 1.6rem;
  color: #333;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav nav h2 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
}
@media screen and (max-width: 650px) {
  nav ul {
    display: none;
    font-size: 1.5rem;
  }
}
nav ul li {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  padding: 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 600px) {
  nav ul li {
    padding: 0.5rem;
  }
}
nav ul li:hover {
  color: cadetblue;
  background: rgba(0, 0, 0, 0.1);
}

nav button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 100%;
  border: none;
}
nav button:hover {
  background-color: cadetblue;
  outline: none;
  border: none;
}

.menu {
  z-index: 1111;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
}

.menu a {
  min-width: 10rem;
  padding: 1rem;
  margin: 1px;
  color: whitesmoke;
  background-color: rgba(3, 3, 3, 0.6);
  text-align: justify;
}

.menu a:hover {
  background-color: cadetblue;
  color: white;
}

header {
  width: 100%;
  height: 70vh;
}
@media screen and (max-width: 650px) {
  header {
    flex-direction: column;
  }
}
header .header__top {
  width: 100%;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  header .header__top {
    display: block;
    margin: 2rem;
  }
}
header .header__top .header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
header .header__top .header__title-container h1 {
  text-align: justify;
}
@media screen and (max-width: 600px) {
  header .header__top .header__title-container h1 {
    font-size: 2rem;
  }
}
header .header__top .header__title-container h2 {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  header .header__top .header__title-container h2 {
    font-size: 1rem;
  }
}
header .header__top .header__title-container a {
  border-radius: 10px;
  padding: 2rem;
  background-color: #333;
  color: whitesmoke;
  cursor: pointer;
}
header .header__top .header__title-container a:hover {
  background-color: cadetblue;
}
@media screen and (max-width: 600px) {
  header .header__top .header__title-container a {
    margin-bottom: 3rem;
  }
}
header .header__top .header__img {
  margin-left: 2rem;
  max-width: 50%;
  height: 300px;
  object-fit: contain;
}
header .header__top .header__img img {
  border-radius: 20px;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 600px) {
  header .header__top .header__img {
    display: none;
  }
}
header .header__bottom {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
}
header .header__bottom a:hover {
  color: cadetblue;
}
@media screen and (max-width: 600px) {
  header .header__bottom {
    display: none;
  }
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
}
.about__title {
  margin: 4rem auto;
}
.about__container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .about__container {
    flex-direction: column;
  }
}
.about__container__image {
  max-width: 20%;
  position: relative;
  bottom: 130px;
  left: 140px;
}
@media screen and (max-width: 600px) {
  .about__container__image {
    position: initial;
  }
}
.about__container__image img {
  text-align: center;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  box-shadow: gray 5px 5px 5px;
}
@media screen and (max-width: 600px) {
  .about__container__image img {
    position: initial;
  }
}
.about__container__texte {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 2rem;
  text-align: justify;
  margin: auto;
  width: 70%;
  border: grey;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
  .about__container__texte {
    width: 90%;
    margin: auto;
  }
}
.about__container__texte p {
  line-height: 3rem;
  margin: 1rem;
}

.projets__title {
  text-align: center;
  margin: 4rem auto;
}
.projets__cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .projets__cards-container {
    display: flex;
    flex-direction: column;
  }
}
.projets__cards-container .card {
  margin: 1rem;
  min-width: 20rem;
  min-height: 10rem;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background-color: whitesmoke;
  overflow: hidden;
  box-shadow: grey 5px 5px 5px;
}
@media screen and (max-width: 600px) {
  .projets__cards-container .card {
    width: 100%;
  }
}
.projets__cards-container .card:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}
.projets__cards-container .card:active {
  background-color: cadetblue;
  color: white;
}
.projets__cards-container .card img {
  width: 100%;
  height: 80%;
}
.projets__cards-container .card p {
  margin-left: 1rem;
}

.experience {
  width: 80%;
  margin: 2rem auto;
}
@media screen and (max-width: 600px) {
  .experience {
    width: 100%;
  }
}
.experience__title {
  text-align: center;
}
.experience__illu {
  margin: 2rem auto;
  width: 100%;
  height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
}
.experience__illu img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.experience__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  .experience__box {
    flex-wrap: wrap;
  }
}
.experience__box__image {
  text-align: center;
}
.experience__box__image__dates {
  font-size: 1.4rem;
  text-align: left;
}
.experience__box__texte {
  width: 50%;
  margin-left: 5%;
}
@media screen and (max-width: 600px) {
  .experience__box__texte {
    width: 100%;
    margin: 1rem 0.5rem;
  }
}

.savoirs {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .savoirs {
    width: 100%;
  }
}
.savoirs__title {
  text-align: center;
  margin: 2rem 0;
}
.savoirs__liste {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .savoirs__liste {
    flex-direction: column;
  }
}
.savoirs__liste__el {
  font-size: 4rem;
  padding: 1rem;
  color: orangered;
}
.savoirs__liste__el--fav {
  color: cadetblue;
}
@media screen and (max-width: 600px) {
  .savoirs__liste__el--fav {
    font-size: 2rem;
  }
}
.savoirs__liste__right {
  margin: 2rem;
}

.formation {
  width: 80%;
  margin: 2rem auto;
}
@media screen and (max-width: 600px) {
  .formation {
    width: 100%;
  }
}
.formation__title {
  margin: 2rem auto;
  text-align: center;
}
.formation__master {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formation__master__card {
  background-color: whitesmoke;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 25%;
  height: 15em;
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .formation__master__card {
    width: 100%;
  }
}
.formation__master__card__image--logo {
  width: 8rem;
  transition: all 0.2s ease-in-out;
}
.formation__master__card__image--logo:hover {
  transform: rotate(2turn);
}

.loisirs {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}
.loisirs__title {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: lightgrey;
}
@media screen and (max-width: 600px) {
  footer {
    text-align: center;
  }
}
footer ul {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  footer ul {
    flex-wrap: wrap;
  }
}
footer ul li {
  margin-left: 2rem;
}
@media screen and (max-width: 600px) {
  footer ul li {
    margin: 1rem;
  }
}
footer ul li:hover {
  color: cadetblue;
}/*# sourceMappingURL=main.css.map */