.about {
  margin: 2rem auto;
  text-align: center;
  &__title {
    margin-top: 4rem;
  }
  &__image {
    width: 100%;
    & img {
      position: relative;
      top: 7rem;
      right: +45rem;
      text-align: center;
      border-radius: 100%;
      height: 20rem;
      width: 20rem;
      object-fit: cover;
    }
  }
  &__texte {
    padding: 2rem;
    text-align: justify;
    margin: auto;
    width: 40%;
    border: grey;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
  }
}
