footer {
  @include flex-center;
  flex-direction: column;
  padding: 2rem;
  background-color: lightgrey;
  @media screen and (max-width: "600px") {
    text-align: center;
  }
  ul {
    margin-bottom: 1rem;
    @include flex-between;
    @media screen and (max-width: "600px") {
      flex-wrap: wrap;
    }
    li {
      margin-left: 2rem;
      @media screen and (max-width: "600px") {
        margin: 1rem;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}
