//menu navigation*/
.nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__burger {
    position: absolute;
    top: 12px;
  }

  @media screen and (max-width: 650px) {
    padding: 2rem;
    &__burger {
      position: relative;
      visibility: visible;
      opacity: 1;
      background-color: transparent;
      z-index: 111;
      width: 50px;
      height: 50px;
      padding-left: 1rem;
      cursor: pointer;
      &__bar {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 4px 0;
        transition: all 0.3s ease-in-out;
      }

      &--open .nav__burger__bar {
        &__top {
          transform: rotate(45deg) translate(5px, 8px);
          background-color: orangered;
        }
        &__bottom {
          transform: rotate(-45deg) translate(5px, -8px);
          background-color: orangered;
        }
        &__middle {
          transform: translateX(-20px);
          border-radius: 100%;
          opacity: 0;
        }
      }
    }
    nav h2 {
      font-size: 2rem;
    }
  }
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  @media screen and (max-width: 650px) {
    display: none;
    font-size: 1.5rem;
  }
  li {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
    border-radius: 1rem;
    @media screen and (max-width: "600px") {
      padding: 0.5rem;
    }
    &:hover {
      color: orangered;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.menu {
  z-index: 1111;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
}
.menu a {
  min-width: 13rem;
  padding: 1rem;
  margin: 1px;
  color: orangered;
  background-color: rgba(1, 1, 1, 0.4);
}

.menu a:hover {
  background-color: rgba(1, 1, 1, 1);
  color: white;
}
