//menu navigation*/
.nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav h2 {
    font-size: 2rem;
  }
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  @media screen and (max-width: 650px) {
    display: none;
    font-size: 1.5rem;
  }
  li {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
    border-radius: 1rem;
    @media screen and (max-width: "600px") {
      padding: 0.5rem;
    }
    &:hover {
      color: $color-primary;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.nav__burger {
  background-color: #333;
  cursor: pointer;
  padding: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  &:hover {
    background-color: $color-primary;
    outline: none;
    border: none;
  }
  &:active {
    background-color: $color-primary;
    outline: none;
    border: none;
  }
}

.menu {
  z-index: 1111;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
}
.menu a {
  min-width: 10rem;
  padding: 1rem;
  margin: 1px;
  color: whitesmoke;
  background-color: rgba(3, 3, 3, 0.6);
  text-align: justify;
}

.menu a:hover {
  background-color: $color-primary;
  color: white;
}
