//menu navigation*/
.nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger {
    display: none;
  }
  @media screen and (max-width: 650px) {
    padding: 2rem;
    &__burger {
      display: block;
      width: 35px;
      height: 30px;
      background-color: transparent;
      z-index: 10;
      transition: all 0.2s ease-in;
      cursor: pointer;

      &--open .nav__burger__bar {
        &__top {
          transform: rotate(45deg) translate(5px, 7px);
        }
        &__bottom {
          transform: rotate(-45deg) translate(5px, -7px);
        }
        &__middle {
          opacity: 0;
        }
      }
      &__bar {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 3.5px 0;
      }
    }
    nav h2 {
      font-size: 2rem;
    }
  }
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  @media screen and (max-width: 650px) {
    display: none;
    font-size: 1.5rem;
  }
  li {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
    border-radius: 1rem;
    @media screen and (max-width: "600px") {
      padding: 0.5rem;
    }
    &:hover {
      color: orangered;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
