.savoirs {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 0;
  }

  &__title {
    text-align: center;
    margin: 2rem 0;
  }
  &__liste {
    @include flex-center;
    font-size: 2rem;

    @media screen and (max-width: 600px) {
      display: block;
      text-align: center;
      width: 100%;
      padding-left: 1rem;
    }

    &__el {
      &-container {
        display: flex;
        align-items: center;
        @media screen and (max-width: "600px") {
          justify-content: center;
        }
      }
      padding: 2rem;
      width: 8rem;
      @include flex-center;
      height: 8rem;
      text-align: center;
      font-size: 3rem;
      margin: 1rem;
      border-radius: 10px;
      background-color: whitesmoke;
      box-shadow: grey 5px 5px 5px;
      color: #333;

      @media screen and (max-width: "600px") {
        font-size: 2rem;
        width: 6rem;
        height: 6rem;
      }
    }
    &__right {
      display: flex;
      flex-wrap: wrap;
      width: 50rem;
      margin: auto;
      @media screen and (max-width: "600px") {
        font-size: 2rem;
        width: 100%;
      }
      .btn-skills {
        margin: 1rem auto;
        text-align: center;
        cursor: pointer;
        box-shadow: #333 5px 5px 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $color-primary;
        }
      }
      .badge {
        padding: 1rem;
        border-radius: 20px;
        width: 20rem;
        @include flex-center;
        margin: 2rem;
      }
    }
  }
}
