.savoirs {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 0;
  }

  &__title {
    text-align: center;
    margin: 2rem 0;
  }
  &__liste {
    @include flex-center;
    font-size: 2rem;

    @media screen and (max-width: 600px) {
      display: block;
    }

    &__el {
      &-container {
        display: flex;
        align-items: center;
      }
      padding: 2rem;
      width: 8rem;
      @include flex-center;
      height: 8rem;
      text-align: center;
      font-size: 3rem;
      margin: 1rem;
      border-radius: 10px;
      background-color: whitesmoke;
      box-shadow: grey 5px 5px 5px;
      color: #333;
      &:hover {
        background-color: $color-primary;
        color: whitesmoke;
      }
      @media screen and (max-width: "600px") {
        font-size: 2rem;
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
