.--invisible {
  visibility: hidden;
  opacity: 0;
}

.--d-none {
  display: none !important;
}

$color-primary: cadetblue;

.--fav {
  background-color: cadetblue !important;
  color: white;
}

.--cool {
  background-color: whitesmoke;
}
.btn {
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-primary;
  }
}
