.--invisible {
  visibility: hidden;
  opacity: 0;
}

.--d-none {
  display: none !important;
}
$color-primary: cadetblue;
.--fav {
  background-color: cadetblue !important;
}

.btn {
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
}
