
.mainwrap{
	width:100%
}
header{	
	background:url(images/paysage.jpg) center fixed no-repeat;
	border: outset #2F4F4F 3px;
	height: 500px;
}
/*menu navigation*/
.nav {
	padding-right: 6rem;
	text-align: right;
}

.nav .nav__link{
	list-style : none;
	display : inline;
	padding-left: 1.5rem;
	font-size: 2rem;
}
.nav__link a{
	text-decoration : none;
	color : #2F4F4F;
}
.nav__link a:hover{
	color : #fff;
}

.nav__link--active a{
	color : #a5876d;
}

header h1 /*titre principal*/
{
	font-family: Verdana,Arial;
	font-size:2rem;
	color: white;
	text-align : center;
	margin-top: 200px;
}
body
{
	font-family: trebuchet, arial;
	color:black;
	background-color: #DFF2FF;
}
.main-bloc{

}
p
{
	font-size:1em;
	margin-left: 10px;
}

h2
{
	font-family:Verdana;
	color:#2F4F4F;
	font-size:3em;
	font-weight:bold;
	text-decoration:underline;
	text-align: center;
}
h3
{
	font-style:italic;
	text-decoration: underline;
	text-align:center;
}	
	section
	{
		display: inline-block;
    	vertical-align: top;
    	width: 28%;
    	margin-right: 2%;
	}
	.contenu,.liseret	
	{
	display: inline-block;
	vertical-align: top;
	}
.liseret
 {
  width: 15%;
  margin-right: 3%;
  height: 900px;
  border-radius: 10px;
  background-color: rgba(245,245,245, 0.5);
 }
 .liseret img
 {
 	margin-left: 10%;
 }

 .liseret p{
 	text-align: justify;
 	margin-left: 5%;
 	margin-right: 5%;
 }

.contenu
 {
	width: 80%;
	background-color: #FAF0E6;
 }

.experience,.formation,.competence
{
	background-color: rgba(245,245,245, 0.5);
	border:3px rgba(47, 79, 79,0.7) groove;
}
.experience figure
{
	text-align: center;
}
.experience:hover
{
	color: #19647E;
}
.Master img
{
	width: 50px;
}
.Master
{
	text-align: center;
}

}
.descriptionposte
{
	font-style:italic;
	text-align:justify;
}	
	footer
	{
background: url(images/rails.jpg) fixed center no-repeat;
height:200px;
width: 100%;
margin-top: 40px;
}	
footer p,footer ul,footer a 
	{
color: white;
list-style-type: none;
text-align: center;
}

