$color-primary: #54627b; //slate bleu foncé texte
$color-background1: #54627b; //slate bleu foncé texte
$color-background2: #f4f4f6; //ivory
$color-accent : #adc8d2; //serenity bleu vert partie 1 
$color-graphics : #9f9c93; //taupe bloc experience
$big-size : 3em;
$medium-size :2em;
$normal-size : 1em;
$small-size : 0.8em;
$title-font : Verdana;
$text-font : trebuchet;