.liseret {
  margin: 2rem auto;
  text-align: center;
}

.picture {
  text-align: center;
  & img {
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
  }
}
.projet {
  display: flex;
  flex-direction: column;
}
.vignettes {
  width: 100%;
}
.line {
  width: 100%;
  display: flex;
}
.pict {
  display: flex;
  justify-content: center;
}
.pict img {
  border-radius: 2rem;
  background-image: linear-gradient(
    to right,
    rgba(2, 2, 2, 0.863),
    rgba(0, 0, 0, 0.3)
  );
  cursor: pointer;
  width: 80%;
  margin: 2rem 0;
  &:hover {
    background-image: linear-gradient(
      to right,
      rgba(2, 2, 2, 0.2),
      rgba(0, 0, 0, 0.2)
    );
  }
}
