//menu navigation*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $color-background1;
  color: white;
  h2 {
    font-size: 2rem;
  }
  ul {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    a {
      margin-left: 3rem;
      text-decoration: none;
      font-weight: bold;
      color: $color-background2;
      &:hover {
        color: orangered;
      }
    }
  }
}
