.contactContent {
  background: $color-3;
  width: 100%;
  min-height: 95vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .header {
    width: 100%;
    position: relative;
    background: $color-1;
    min-height: 45vh;
    z-index: 0;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: url(../media/map.jpg) no-repeat center top/cover;
      filter: grayscale(100%);
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 30px;
      background: url(../media/shape.svg) no-repeat center / cover;
    }
  }
  .contactBox {
    position: relative;
    top: -25%;
    z-index: 1;
    max-width: 100%;
    @media screen and (max-width: 850px) {
      top: -50%;
      max-width: 100%;
      padding: 0.5rem;
    }
    background: $color-5;
    margin: 0 auto;
    padding: 1rem 3rem;
    z-index: 2;
    border-radius: $borderRadius;
    box-shadow: 0 3px 10px #333;
    width: 50%;
    min-width: 440px;
    min-height: 300px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }

    &-title {
      text-align: center;
      margin-top: 0.3rem;
      position: relative;
      color: $color-2;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      &-line {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        label {
          padding-right: 0.5rem;
        }
        input {
          padding: 0.5rem;
          border-radius: $borderRadius;
          border: none;
        }
        textarea {
          border-radius: $borderRadius;
          padding: 0.5rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
        }
      }
      &-btn {
        align-self: flex-end;
        width: 50%;
        text-align: center;
        margin: 1rem 0;
        padding: 0.5rem;
        background: $color-4;
        color: $color-2;
        font-weight: bold;
        border-radius: $borderRadius;
        box-shadow: 0 3px 10px #333;
        cursor: pointer;
        i {
          padding-right: 0.5rem;
        }
        input {
          border: none;
          font-weight: bold;
          background: $color-4;
          color: $color-2;
        }
      }
    }
  }

  .socialNetwork {
    ul {
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: space-around;
      margin-bottom: 2rem;
      a {
        margin: 0 2rem;
        font-size: 1.2rem;
        background: $color-5;
        border-radius: $borderRadius;
        display: inline-block;
        padding: 1rem;
        box-shadow: $shadow;
        transform: scaleY(0);
        transform-origin: center;
        transition: 0.2s ease;
        transition: scale 0.1s;
        color: $white;

        &:hover {
          background: $color-4;
        }

        i {
          color: $color-2;
          margin-top: 0.3rem;
        }
      }
      //ANIMATION
      @mixin networkAnim($timeout) {
        animation: pop 1s forwards;
        animation-delay: $timeout;
      }
      @keyframes pop {
        to {
          transform: scaleY(1);
        }
      }
      a:nth-child(1) {
        @include networkAnim(0.4s);
      }
      a:nth-child(2) {
        @include networkAnim(0.8s);
      }
      a:nth-child(3) {
        @include networkAnim(1.2s);
      }
      a:nth-child(4) {
        @include networkAnim(1.6s);
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .contactContent {
    .contactBox {
      min-width: 100% !important;
    }
    span {
      font-size: 0.9rem !important;
    }
    h4 {
      font-size: 0.9rem;
    }
  }
}
