@use '../../styles/settings' as *;

.services {
  margin: 2rem 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
    padding: 0.25rem;
  }

  .service {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: $color-2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: lighten($color: $color-2, $amount: 5);
    }
  }
  .list {
    padding: 0.5rem;
    &-item {
      background-color: $color-1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0.1rem;
      padding: 1rem;

      &--first {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &--last {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
    span {
      margin-left: 1rem;
    }
  }
}
