@use 'src/styles/settings.scss';
.showInfos {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.507);
  animation: popup 0.3s ease forwards;
  transform-origin: center;
  z-index: 10;

  .infosContent {
    position: relative;
    top: 25%;
    width: 600px;
    max-width: 100vw;
    margin: 0 auto;
    color: settings.$color-5;
    background: settings.$color-1-transparent;
    border-radius: settings.$borderRadius;
    padding: 2rem;
    box-shadow: 0 10px 10px #333;
    animation: popup 0.6s ease forwards;
    transform: scale(0);
    transform-origin: center;

    @keyframes popup {
      to {
        transform: scale(1);
      }
    }
  }
  .head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    h2 {
      text-align: left;
      word-wrap: break-word;
      max-width: 70%;
    }
  }

  .button {
    cursor: pointer;
    color: settings.$color-1;
    background: settings.$color-5;
    border-radius: settings.$borderRadius;
    padding: 0.5rem;
    transition: 0.2s;

    &:hover {
      background: red;
    }
  }
  .text {
    text-align: justify;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
